* {
    padding: 0%;
    margin: 0%;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

:root {
    --light-blue: #1e2a47;
    --dark-blue: #141d2f;
    --navy-blue: #0079ff;
    --white-color: #fff;
    --light-color: #4b6a9b;
}

.highlighted {
    border: 2px solid rgba(255, 255, 255, 0.87);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.859);
}

button {
    padding: .75rem 2rem;
    color: var(--dark-blue);
    background: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 0 20px --navy-blue;
    transition: .4s ease all;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

button:hover {
    background: rgba(255, 255, 255, 0.476);
}

body {
    background: var(--light-blue);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-blue);
    color: white;
    padding: .75rem 0;
}

nav h2 {
    font-size: 2.25rem;
}

nav button {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 1.35rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .30rem;
}

.main-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
    /* height: 84vh; */
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 35rem;
    width: 100%;
    background: var(--dark-blue);
    border: 2px solid rgba(255, 255, 255, 0.376);
    padding: 4px 1rem;
    border-radius: 4px;
    transition: .3s ease all;
    color: var(--white-color);
}

/* form:focus {} */

::placeholder {
    color: rgb(135, 135, 135);
}

form input {
    color: white;
    background: none;
    font-size: 1.25rem;
    width: 100%;
}

form button {
    padding: 0;
}

form button:hover {
    background: none;
}

form button i {
    color: rgb(135, 135, 135);
    font-size: 1.65rem;
    transition: .5s;
}

form button i:hover {
    color: white;
}

.intro {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.intro img {
    height: 15rem;
    border: 3px solid white;
    border-radius: 100%;
}

.intro .text {}

.intro .text h1 {
    font-size: 2.5rem;
}

.text div {
    color: var(--light-color);
    transition: .5s ease all;
    width: fit-content;
}

.text div:hover {
    padding-left: 8px;
}

.text div a {
    color: var(--light-color);
    font-size: 1.35rem;
    font-weight: 600;
}

.text div p {
    font-size: .70rem;
}

.text button {
    width: 100%;
    margin-top: 2rem;
}

.details {
    background: var(--dark-blue);
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    margin: 3rem;
    border-radius: 6px;
    box-shadow: 0px 0px 2rem var(--dark-blue);
}

.bio {
    margin: 2rem 3rem;
}

.bio p {
    /* font-style: italic; */
    /* letter-spacing: 1px; */
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 2rem;
}

.bio p span {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--light-color);
    margin: 0px;
}

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.75rem;
    margin: 2rem 0rem;
    background: var(--light-blue);
}

.count {
    text-align: center;
    font-style: oblique;
    margin: 11px;
}

.count h2 {}

.count p {
    font-size: 1.5rem;
}

.informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 3rem;
}

.info {
    margin: 11px;
}

.info i {
    color: var(--light-color);
    font-size: 1.30rem;
}

.info a {
    color: white;
    letter-spacing: 1.5px;
    font-size: 1.11rem;
}

.info a:hover {
    text-decoration: underline;
}

/* @media screen and (max-width:1234px) {
    .intro .text {
        margin: 22px;
    }
    .main-container {
        margin-top: 250px;
    }
} */